# Ignore everything first:
/*

# Then un-ignore the following:
!.gitignore
!config.js

# --- Ghost core server index.js file ---
# --- Only needed if you edit this file ---
core/*
!/core/

# ---- Theme files -----
content/*
!/content/
!/content/*
