
<footer class="footer_typesome">
	<div class="main_typesome">
	<ul>
    <li><span class="tooltip">Subscribe!</span><a class="fa fa-rss" target="_blank" href="{{@blog.url}}/rss/"></a></li>
    {{!<li><span class="tooltip">Twitter</span><a class="fa fa-twitter" href="#"></a></li>
		<li><span class="tooltip">Facebook</span><a class="fa fa-facebook" href="#"></a></li>
    <li><span class="tooltip">Google</span><a class="fa fa-google-plus" href="#"></a></li>}}
	</ul>
		<hr />
    <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Except where otherwise noted, content on this site</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
	</div>
</footer>
